{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>
        Unlock your potential with Klarity — the ultimate fitness planner.
        Whether you're just starting out or leveling up, Klarity helps you stay on track with personalized workouts,
        smart planning tools, and goal-focused guidance. No guesswork, no distractions — just Klarity, commitment, and real results.
    </h1>
    <br>
    <p>"The mind is the limit.
        As long as the mind can envision the fact that you can do something,
        you can do it, as long as you really believe 100 percent."</p>
    <p>- Arnold Schwarzenegger</p>
{% endblock %}
